@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.react-tel-input .form-control {
    @apply sm:w-full rounded-md border-none py-[10px] text-[13px] px-[15px] outline-none my-[8px] w-[220px] bg-slate-100;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

* {
    @apply font-sans;
}

/*
body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
} */